flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ba1a127.2439d8","type":"debug","z":"3af82246.3634ae","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":280,"wires":[]},{"id":"7db2824b.2e530c","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["9ba1a127.2439d8"]]},{"id":"b5c755db.5ed8e8","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":400,"wires":[["89a8356b.3ee6c"]]},{"id":"4e51d365.7831a4","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":440,"y":400,"wires":[]},{"id":"89a8356b.3ee6c","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":400,"wires":[["4e51d365.7831a4"]]}]